.img {
    background-image: url("./images/background.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#fin {
    color: rgb(251, 251, 252);
    text-align: center;
    background-color: rgb(139, 137, 135);
    padding: 20px;
    margin: 100px;
}

td {
    color: rgb(251, 251, 252);


}

.section1 {
    text-align: center;
    color: rgb(251, 251, 252);
    background-color: rgb(139, 137, 135);
    padding: 20px;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

}

th {
    color: rgb(251, 251, 252);

}

#v {
    background-color: rgb(11, 196, 88);
}

.section2 {
    background-color: rgb(139, 137, 135);
}

#s1 {
    color: rgb(251, 251, 252);
    background-color: rgb(206, 204, 203);

}

#s2 {
    color: rgb(251, 251, 252);
    background-color: rgb(206, 204, 203);
}


#s3 {
    color: rgb(251, 251, 252);
    background-color: rgb(206, 204, 203);

}